.sidenav {
  flex: 1;
  min-height: 100vh;
  color: #a1a1a1;
  font-size: 35px;
  background-color: #262837;
  position: fixed;

  ul {
    list-style: none;

    li {
      &:hover {
        color: white;
        cursor: pointer;
      }
      &::placeholder {
        color: #158;
      }
    }
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    .logo {
      font-size: 20px;
      font-weight: 200;
      color: #a1a1a1;

      &:hover {
        color: white;
      }
    }
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    li {
      margin: 10px 0px;
    }
  }

  .bottom {
    display: flex;
    position: fixed;
    bottom: 10px;
    margin-left: 25px;
  }
}
